.email{
    color: green;
    font-size: 50px;
}
.tel{
    color: green;
    font-size: 50px;
}
#motto{
    font-size: 100px;
    font-family: Arial, Helvetica, sans-serif;
    color: antiquewhite;
    font-style: oblique;
}