.order{
    font-size: 50px;
    text-align: center;
    color: white;
}
#top{
    color: white;
    font-weight: bolder;
    text-align: center;
    font-style: oblique;
    font-size: 150px;
}
#top2{
    color:white;
    font-weight: bolder;
    text-align:center;
    font-style: oblique;
    font-size: 100px;
}
.welcome{
    color: rgb(22, 146, 6);
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    text-align: center;
    font-size: 80px;
}